{{#extends 'base'}}

{{#block 'content'}}

<h1>List of Faults Reported</h1>
<ul>
    <li>Fault 1</li>
        <p>Lift Fault - frequency 1-3 times a week. Kindly fix it</p>
    <li>Fault 2/li>
        <p>Central Water Heater Fault - frequency 1-3 times a week. Kindly fix it</p>
    <li>Fault 3</li>
        <p>Sauna Fault - frequency 1-3 times a week. Kindly fix it</p>
</ul>

{{/block}}

{{/extends}}