{{#extends 'base'}}

{{#block 'content'}}
<h1>Management Goals</h1>
<p>Solve condominium issues to create a better life for residents.</p>
{{!-- <img src="penguin.jpeg"/> --}}
{{/block}}

{{/extends}}