{{#extends 'base'}}

{{#block 'content'}}
<div>
    <label>Resident Id Number:</label>
    <input type="number"/>
</div>

<div>
    <label>What issues are you facing?</label>
    <input type="text area"/>
</div>
<div>
    <label>Provide your email for us to respond to you</label>
    <input type="email"/>
</div>
{{/block}}

{{/extends}}