{{#extends 'base'}}
{{#block 'content'}}
    <form method="POST">
        div>
            <label>Movie ID</label>
            <input type="text" class="form-control" name="id"/>
        </div>
        <div>
            <label>Title of Movie</label>
            <input type="text" class="form-control" name="title"/>
        </div>
        <div>
            <label>Plot of Movie</label>
            <input type="textarea" class="form-control" name="plot"/>
        </div>
        <input type="submit" class="btn btn-primary mt-3"/>
    </form>

{{/block}}

{{/extends}}