{{#extends 'base'}}
    {{#block 'content'}}
        <form method="POST">
            <div>
            <label>Key in the item that was lost</label>
            <input type="text" class="form-control" name="item"/>
            </div>
            <div>
            <label>Email</label>
            <input type="email" class="form-control" name="email"/>
            </div>
            <div>
                <label>Where was the item lost?</label>
                <input type="radio" class="form-check-input" name="lastSeen" value="taxi"/>
                <label class="form-check-label">Taxi</label>
                <input type="radio" class="form-check-input" name="lastSeen" value="bus"/>
                <label class="form-check-label">Bus</label>
                <input type="radio" class="form-check-input" name="lastSeen" value="mrt"/>
                <label class="form-check-label">MRT</label>
            </div>
            <div>
                <label>Properties of the lost item:</label>
                <input type="checkbox" class="form-check-input" name="properties" value="bulky"/>
                <label class="form-check-label">Bulky</label>
                <input type="checkbox" class="form-check-input" name="properties" value="light"/>
                <label class="form-check-label">Light</label>
                <input type="checkbox" class="form-check-input" name="properties" value="colourful"/>
                <label class="form-check-label">Colourful</label>
            </div>

            <input type="submit" class="btn btn-primary mt-3" value="submit"/> 
        </form>
    {{/block}}
{{/extends}}