{{#extends 'base'}}
    {{#block 'content'}}
    <div>
        <ul>
            <li>Item: {{item}}</li>
            <li>Lost at: {{lastSeen}}</li>
            <li>Properties of the Item: {{properties}}</li>
            <li>Contact Email: {{email}}</li>
        </ul>
    </div>

    {{/block}}
{{/extends}}